-- Check if attachment columns exist in invoices table
SELECT column_name, data_type, is_nullable
FROM information_schema.columns 
WHERE table_name = 'invoices' 
AND column_name IN ('customer_invoice_number', 'attachment_data', 'attachment_filename', 'attachment_size', 'attachment_type')
ORDER BY column_name;